html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

#question {
    margin: 0;
}

#main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

input[type="text"] {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    width: 20ch;

    border: 0;
    background-color: #5558;
    border-bottom: 3px solid hsl(300, 100%, 25%);

    color: white;
    text-align: center;

    transition: all 0.4s
}

input[type="text"]:hover {
    border-bottom: 3px solid hsl(300, 100%, 35%)
}

input[type="text"]:focus-visible {
    outline: none;

    border-bottom: 3px solid hsl(300, 100%, 40%);
    background-color: 3px
}

#feedback-popup {
    position: fixed;
    background-color: #476b59;  /* Color when correct:  hsl(150, 20%, 35%), when wrong: hsl(0, 40%, 35%)*/
    box-shadow: 0px 0px 1px 1px hsl(0, 0%, 20%);
    border-radius: 0.5em;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    height: 80%;
    aspect-ratio: 4 / 3;

    visibility: hidden;

}

#feedback-popup * {
    margin: 0;
}

#feedback-popup #correctness-heading {
    margin-top: 0.5em
}

#feedback-popup #acceptable-answers-list {
    width: auto;
    margin-bottom: auto;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 20ch;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 0.2em;
    overflow-y: auto;
    overflow-x: hidden;
}

#feedback-popup #acceptable-answers-list li {
    width: 100%;
    background-color: hsl(48, 80%, 50%);
    padding: 0.5em;
    border-radius: 0.6em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}

#feedback-popup #press-any-key {
    font-size: 1.2rem;
    justify-self: end;
    margin-bottom: 0.5em;
}

#resource-wrapper {
    display: none;
    height: 60%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#resource-wrapper img {
    height: 100%;
}